html {
    background-color: white;
}

.rounded-corners {
    width: 100px;
}
  
.rounded-corners {
    border-radius: 6px;
}
  
.headerapp {
    text-align: center;
    margin: 5px 260px 0px 260px;
    padding: 1em 0px 0em 0px;
    border-radius: 6px;
}
  
.h1-header {
    font-family: impact;
    color: #bd5734;
    font-size: 5em;
    font-weight: 900;
}